{% extends "base.dockerfile.jinja2" %}

{% set packages_cmd_init %}apk update{% endset %}
{% set packages_cmd_install %}apk add --no-cache{% endset %}
{% set packages_cmd_clean %}rm -rfv /var/cache/apk/*{% endset %}

{% set packages_base_boost %}boost-program_options boost{% endset %}
{% set packages_base_leatherman %}leatherman{% endset %}
{% set packages_base_cpp_hocon %}cpp-hocon{% endset %}
{% set packages_base_yaml_cpp %}yaml-cpp{% endset %}

{% set packages_base | oneline %}
bzip2 ca-certificates libffi procps yaml zlib
{% if system_version < v('3.9.0') %}libcrypto1.0{% else %}libcrypto1.1{% endif %}
gdbm readline libressl
libcurl
tar xz shadow
{% endset %}

{% set packages_dev_boost %}boost-dev{% endset %}
{% set packages_dev_leatherman %}leatherman-dev{% endset %}
{% set packages_dev_cpp_hocon %}cpp-hocon-dev{% endset %}
{% set packages_dev_yaml_cpp %}yaml-cpp-dev{% endset %}

{% set packages_dev | oneline %}
{# ruby #}
autoconf
bison
bzip2-dev
ca-certificates
coreutils
dpkg-dev dpkg
gcc
gdbm-dev
glib-dev
libc-dev
libffi-dev
libressl-dev
libxml2-dev
libxslt-dev
linux-headers
make
ncurses-dev
readline-dev
ruby
yaml-dev
zlib-dev
{# other #}
cmake g++ curl-dev patch
argp-standalone
{% endset %}

{% block dev_prepare_ruby_post %}
# https://github.com/docker-library/ruby/issues/196
# https://bugs.ruby-lang.org/issues/14387#note-13 (patch source)
# https://bugs.ruby-lang.org/issues/14387#note-16 ("Therefore ncopa's patch looks good for me in general." -- only breaks glibc which doesn't matter here)
RUN cd /usr/src/ruby \
    && wget -O 'thread-stack-fix.patch' 'https://bugs.ruby-lang.org/attachments/download/7081/0001-thread_pthread.c-make-get_main_stack-portable-on-lin.patch' \
    && echo '3ab628a51d92fdf0d2b5835e93564857aea73e0c1de00313864a94a6255cb645 *thread-stack-fix.patch' | sha256sum -c - \
    && patch -p1 -i thread-stack-fix.patch
{% endblock %}

{% block dev_build_puppet_post %}
RUN /opt/puppetizer/bin/puppet module install puppetlabs-apk --target-dir {{ install_dir }}/puppet/modules-internal \
    && cd {{ install_dir }}/puppet/modules-internal/apk/ \
    && wget -O - https://github.com/puppetlabs/puppetlabs-apk/pull/4.diff | patch -p1
{% endblock %}

{% block build_facter_leatherman_cmake_options -%}
-DCMAKE_CXX_FLAGS_RELEASE="-Os {% if system_version >= v('3.9.0') %}-Wno-error=class-memaccess -Wno-error=ignored-qualifiers{% endif %}{% if system_version >= v('3.12.0') %} -Wno-error=deprecated-copy{% endif %}"
{%- endblock %}
{% block build_facter_cpp_hocon_cmake_options -%}
-DCMAKE_CXX_FLAGS_RELEASE="-Os -Wno-error=deprecated-declarations {% if system_version >= v('3.9.0') %}-Wno-error=catch-value={% endif %}"
{%- endblock %}
{% block build_facter_facter_cmake_options -%}
-DCMAKE_CXX_FLAGS_RELEASE="-Os -Wno-error=deprecated-declarations {% if system_version >= v('3.9.0') %}-Wno-error=catch-value={% endif %}{% if system_version >= v('3.12.0') %} -Wno-error=deprecated-copy{% endif %}"
{%- endblock %}
