{% extends "base.dockerfile.jinja2" %}

{% block base %}
RUN apk add --no-cache \
    bzip2 ca-certificates libffi procps yaml zlib \
    libcrypto1.0 gdbm readline libressl \
    libcurl boost yaml-cpp boost-program_options libblkid \
    tar xz shadow
{% endblock %}

{% block base_dev %}
# ruby
RUN apk add \
        autoconf \
        bison \
        bzip2-dev \
        ca-certificates \
        coreutils \
        dpkg-dev dpkg \
        gcc \
        gdbm-dev \
        glib-dev \
        libc-dev \
        libffi-dev \
        libressl-dev \
        libxml2-dev \
        libxslt-dev \
        linux-headers \
        make \
        ncurses-dev \
        readline-dev \
        ruby \
        yaml-dev \
        zlib-dev
# other
RUN apk add cmake boost-dev yaml-cpp-dev g++ curl-dev

{% endblock %}
