{% include "dockerfile/base.jinja2" %}

FROM base as dev

{% include "dockerfile/dev.jinja2" %}

{% include "dockerfile/runit.jinja2" %}
{% include "dockerfile/ruby.jinja2" %}
{% include "dockerfile/boost.jinja2" %}
{% include "dockerfile/yaml-cpp.jinja2" %}
{% include "dockerfile/leatherman.jinja2" %}
{% include "dockerfile/cpp-hocon.jinja2" %}
{% include "dockerfile/facter.jinja2" %}
{% include "dockerfile/puppet.jinja2" %}

FROM dev as prepare

COPY --from=dev_runit "{{ install_dir }}" "{{ install_dir }}"
COPY --from=dev_puppet "{{ install_dir }}" "{{ install_dir }}"

{% block dev_build_post %}
RUN find /opt/puppetizer/ -iname "*.a" -delete \
    && find /opt/puppetizer/ -iname "*.so" -type f -exec strip -ps {} \; \
    && find /opt/puppetizer/ \( -name "*.so" -or -perm +{% if system == "alpine" %}0001{% else %}x{% endif %} \) -type f -exec strip -psv {} 2> /dev/null \;

RUN rm -rf /opt/puppetizer/include /opt/puppetizer/share/man /opt/puppetizer/lib/ruby/gems/*/cache/
{% endblock %}

FROM base

COPY --from=prepare "{{ install_dir }}" "{{ install_dir }}"

RUN ln -s /opt/puppetizer/bin/puppet /usr/local/bin/puppet

ADD ./puppet /opt/puppetizer/etc/code/modules/puppetizer
ADD ./opt /opt/puppetizer/

HEALTHCHECK CMD ["/opt/puppetizer/bin/health"]
