{% extends "base.dockerfile.jinja2" %}

{% set packages_cmd_install %}apt-get update && apt-get install -y --no-install-recommends{% endset %}
{% set packages_cmd_clean %}rm -rf /var/lib/apt/lists/*{% endset %}

{% set packages_base_boost %}"libboost-program-options*.0" "libboost-locale*.0" "libboost-filesystem*.0" "libboost-date-time*.0" "libboost-regex*.0" "libboost-atomic*.0" "libboost-log*.0"{% endset %}
{% set packages_base_leatherman %}leatherman{% endset %}
{% set packages_base_cpp_hocon %}cpp-hocon{% endset %}

{% if system_version < v('10.0.0') %}
{% set packages_base_yaml_cpp %}libyaml-cpp0.5v5{% endset %}
{% else %}
{% set packages_base_yaml_cpp %}libyaml-cpp0.6{% endset %}
{% endif %}

{% set packages_base | oneline %}
bzip2 ca-certificates libffi6 procps
zlib1g
libcrypto++6
{% if system_version < v('10.0.0') %}libgdbm3{% else %}libgdbm6{% endif %}
libreadline7 libssl1.1
{% if system_version < v('10.0.0') %}libcurl3{% else %}libcurl4{% endif %}
tar xz-utils
{% endset %}

{% set packages_dev_boost %}libboost-program-options-dev libboost-locale-dev libboost-filesystem-dev libboost-date-time-dev libboost-regex-dev libboost-atomic-dev libboost-log-dev{% endset %}
{% set packages_dev_leatherman %}leatherman-dev{% endset %}
{% set packages_dev_cpp_hocon %}cpp-hocon-dev{% endset %}
{% set packages_dev_yaml_cpp %}libyaml-cpp-dev{% endset %}

{% set packages_dev | oneline %}
{# ruby #}
autoconf
bison
libbz2-dev 
ca-certificates
coreutils
dpkg-dev dpkg
gcc
libgdbm-dev
libglib2.0-dev
libffi-dev
libssl-dev
libxml2-dev
libxslt-dev
make
ncurses-dev
libreadline-dev
ruby
libyaml-dev
zlib1g-dev
{# other #}
cmake g++ libcurl4-openssl-dev
wget
{% endset %}

{% block build_facter_leatherman_cmake_options -%}
-DCMAKE_CXX_FLAGS_RELEASE="-Os{% if system_version >= v('10.0.0') %} -Wno-error=class-memaccess -Wno-error=ignored-qualifiers{% endif %}"
{%- endblock %}
{% block build_facter_cpp_hocon_cmake_options -%}
-DCMAKE_CXX_FLAGS_RELEASE="-Os{% if system_version >= v('10.0.0') %} -Wno-error=catch-value={% endif %}"
{%- endblock %}
{% block build_facter_facter_cmake_options -%}
-DCMAKE_CXX_FLAGS_RELEASE="-Os{% if system_version >= v('10.0.0') %} -Wno-error=catch-value={% endif %}"
{%- endblock %}
