FROM dev_leatherman as dev_cpp_hocon

{# deps: boost, leatherman #}

{% if "cpp-hocon" not in system_packages %}
RUN wget -O /root/cpp-hocon.tar.gz "https://github.com/puppetlabs/cpp-hocon/archive/{{ puppet_package['cpp-hocon']['version'] }}.tar.gz" \
    && echo "{{ puppet_package['cpp-hocon']['sha256'] }} */root/cpp-hocon.tar.gz" | sha256sum -c - \
    && mkdir -p /usr/src/cpp-hocon \
    && tar -xpf /root/cpp-hocon.tar.gz -C /usr/src/cpp-hocon --strip-components=1 \
    && rm /root/cpp-hocon.tar.gz

RUN mkdir /usr/src/cpp-hocon/release \
    && cd /usr/src/cpp-hocon/release \
    && cmake -DCMAKE_CXX_FLAGS_RELEASE="-Os" -DCMAKE_INSTALL_PREFIX="{{ install_dir }}" -DBUILD_SHARED_LIBS=TRUE -DCMAKE_INSTALL_RPATH="{{ install_dir }}/lib" {% block build_facter_cpp_hocon_cmake_options %}{% endblock %} .. \
    && make -j "$(nproc)" \
    && make install \
    && make clean
{% endif %}
