FROM dev as dev_init

{# deps: none #}

{% block dev_prepare_init %}
ADD ./init/ /usr/src/init/
{% endblock %}

{% block dev_build_init %}
RUN mkdir -p {% filter oneline %}
    /opt/puppetizer/bin
    /opt/puppetizer/etc/services
    /opt/puppetizer/run
{% endfilter %}

RUN cd /usr/src/init \
    && autoconf && ./configure \
    && make -j "$(nproc)" \
    && install -vs -t "{{ install_dir }}/bin" "init" \
    && make clean
{% endblock%}
